<h1>確認</h1>
<p><%= @method %></p>
<p>料理：<%= @food %></p>
<p>スポーツ：<%= @sports %></p>
<p>本：<%= @book %></p>
<p><%= @hobby %></p>
<hr />
<p><%= @text %><%= @dinner.join("、") %></p>
<%= link_to "入力画面へ", "/params" %>

